
[db]
host = "localhost"
port = 5432
db = "fn_search_db"
user = "fn_search_user"
password = "fn_search_password"

[web]
allowed_origin = "http://localhost:8080"
bind_address = "127.0.0.1:8000"
db_pool_size = 15
